body {
    margin: 0;
    padding: 0;
}


#movieList {

    .movieTitle {
        position: relative;
        
        img {
            max-width: 100vw;
        }

        .basicInfo{
            display: flex;
            flex-direction: row;
            
            font-size: 4em;
            h5 {
                margin: 0.1em;
            }
            .movieReleaseDate {
                margin: 0 0.1em 0 0;
                .movieReleaseYear{
                    &::before{
                        content: '(';
                    }
                    &::after{
                        content: ')';
                    }
                }
                .movieReleaseMonth{
                    display: none;
                }
                .movieReleaseDay{
                    display: none;
                }
            }
            .movieLanguages {
                
                .movieLanguage{
                    .engLangName{
                        display: none;
                    }
                    .isoLangName{}
                    .localLangName{
                        display: none;
                    }
                }
                
                & section:nth-child( n+2 ){
                    display: none;
                }
                
            }
        }

        


        .movieVotes {
            width:fit-content;
            font-size: 2em;
            padding: 0.2em;

            border: 0.2em solid black;
            border-radius: 16em;

            position: absolute;

            background-color: white;
            top:0;
            right: 0;
        }
    }
}