body {
    margin: 0;
    padding: 0;
}


#movieList {

    .movieTitle {
        position: relative;
        h5 {
            font-size: 4em;
            margin: 0.1em;
        }
        img {
            max-width: 100vw;
        }

        .movieReleaseDate {

            .movieReleaseYear{}
            .movieReleaseMonth{
                display: none;
            }
            .movieReleaseDay{
                display: none;
            }
        }

        .movieLanguages {
            .movieLanguage{
                .engLangName{
                    display: none;
                }
                .isoLangName{}
                .localLangName{
                    display: none;
                }
            }
        }

        .movieVotes {
            width:fit-content;
            font-size: 2em;
            padding: 0.2em;

            border: 0.2em solid black;
            border-radius: 16em;

            position: absolute;

            background-color: white;
            top:0;
            right: 0;
        }
    }
}